---
const allPosts = await Astro.glob("../pages/posts/*.md");
import Title from "../components/Title.astro";
import Layout from "../layouts/Layout.astro";

const links = [
    { label: "Guac", url: "https://jschere.com/" },
    { label: "Neon", url: "https://saahild.com/" },
    { label: "Mahad", url: "https://mahadk.com/" },
    { label: "https://errorcodezero.dev/button.png", url: "https://errorcodezero.dev/" }
].sort((a, b) => {
    const aIsUrl = a.label.startsWith("https://");
    if (aIsUrl !== b.label.startsWith("https://")) return aIsUrl ? 1 : -1;
    return a.label.localeCompare(b.label);
});
---

<Layout title="Vic. > ~">
    <div>
        <main>
            <Title />
            <p>
                I'm Vic, I'm glad to see you here. I am a 17yo <span
                    class="strike">human</span
                > fish who likes languages, tech, development and doing things with
                my life.
            </p>
            <p>
                I do some stuff at <a href="https://hackclub.com/">Hack Club</a
                >. If you are on <i
                    >the community<i> and see this, tell me.</i>
                    <p>
                        This is my personal website, here you can find some of
                        my public stuff. I have a <a
                            href="https://github.com/v1ctorio">GitHub</a
                        > (<code>@v1ctorio</code>), a <a
                            rel="me"
                            href="https://bsky.app/profile/v1c.rocks">Bluesky</a
                        > and a Signal (<code>@vic.6981</code>) account.
                    </p>
                    <p>
                        If you want to tell me anything please em*il me to
                        vic[aт]nosesisaid.com! I would love to receive your
                        message.
                    </p>

                    <h2>Social links</h2>
                    <ul id="sl">
                        {
                            links.map((i) => (
                                <li style="display: none;">
                                    <a href={i.url}>
                                        {i.label.startsWith("https://") ? (
                                            <img src={i.label} alt="Image" />
                                        ) : (
                                            `${i.label}`
                                        )}
                                    </a>
                                </li>
                            ))
                        }
                    </ul>
                    <noscript>
                    <ul id="sl-noscript">
                        {
                            links.map((i) => (
                                <li style="display: list-item;">
                                    <a href={i.url}>
                                        {i.label.startsWith("https://") ? (
                                            <img src={i.label} alt="Image" />
                                        ) : (
                                            `${i.label}`
                                        )}
                                    </a>
                                </li>
                            ))
                        }
                    </ul>
                    </noscript>
                </i>
            </p>
        </main>

        <script>
            const sleep = (ms: number) => new Promise(resolve => setTimeout(resolve, ms));

            function waitForImage(imgElem: HTMLImageElement) {
                return new Promise<void>(res => {
                    if (imgElem.complete) return res();
                    imgElem.onload = () => res();
                    imgElem.onerror = () => res();
                });
            }

            (async () => {
                const sls = document.querySelector("#sl")!;
                const lis = sls.querySelectorAll("li");

                await sleep(500)
                for (let i = 0; i < lis.length; i++) {
                    const element = lis[i];
                    element.style.display = "list-item";

                    const img = element.querySelector("img");
                    if (img) await waitForImage(img);

                    await sleep(200);
                }
            })();
        </script>
        <style>
            .strike {
                text-decoration: line-through;
            }
            main {
                margin-top: 60px;
                justify-content: center;
                flex-direction: column;
                max-width: 65ch;
                width: 100%;
                display: flex;
                margin-left: auto;
                margin-right: auto;
            }
            h1 {
                padding: 10px 0px 10px 0px;
            }
            p {
                padding-top: 10px;
            }
            .posts {
                margin-top: 20px;
            }
            .postI {
                padding-top: 10px;
                margin-left: 40px;
            }
            a {
                text-decoration: none;
                color: rgb(2, 132, 199) !important;
            }
            a:visited {
                color: rgb(2, 132, 199) !important;
            }
            h2 {
                margin: 50px 0px 20px -10px;
            }
            li {
                height: 30px;
                line-height: 30px;
            }
            li img {
                display: inline-block;
                vertical-align: middle;
            }
        </style>
    </div></Layout
>
